
@model Site.Models.HomeDataContext


<div class="pt-12 pb-12 font-extrabold sm:font-normal"  >

  <div class="container flex flex-col  gap-12 ">

    <div class="md:w-3/4 w-full  ">
      <div class="flex items-center gap-2">
        <h2 class="text-xl font-bold  font-['Bebas_Neue'] mb-0 text[#233038]">Matthew Gwalisam</h2>
        <img src="/swytchserver/static/flag.svg" class="w-6 h-6" alt="Ghana flag">
      </div>
      <p class="text-gray-500 hover:text-gray-700 transition-colors duration-200 mt-0">Programmer</p>
      <p class="pt-4 ">
        Hello, I’m Gwalisam. I'm a programmer from Ghana. Welcome to my site! You can check out 
        <a href="/projects" hx-get="/projects" hx-target="#response-content" hx-trigger="click" hx-push-url="/projects"
        hx-swap="innerHTML transition:true" class="inline-block bg-[#075056] text-white px-1  rounded text-sm hover:opacity-75 transition-opacity duration-200">
          Projects
        </a> I’m working on, read things I

        <a href="/blog" hx-get="/blog" hx-target="#response-content" hx-trigger="click" hx-push-url="/blog"
        hx-swap="innerHTML transition:true"  class="inline-block bg-[#075056] text-white px-1  rounded text-sm hover:opacity-75 transition-opacity duration-200">
          write</a>, or learn more about me

        <a href="/about"  hx-get="/about" hx-target="#response-content" hx-trigger="click" hx-push-url="/about"
        hx-swap="innerHTML transition:true"  class="inline-block bg-[#075056] text-white px-1  rounded text-sm hover:opacity-75 transition-opacity duration-200">
          here</a>.
      </p>
      <div class="flex gap-4 mt-2 p-2">
        <a href="https://github.com/Gwali-1" target="_blank" class="hover:opacity-75 transition-opacity duration-200">
          <img src="/swytchserver/static/github-mark.svg" class="w-6 h-6" alt="GitHub">
        </a>
        <a href="https://twitter.com/Gwalisam1" target="_blank" class="hover:opacity-75 transition-opacity duration-200">
          <img src="/swytchserver/static/twitter.svg" class="w-6 h-6" alt="Twitter">
        </a>
      </div>
    </div>
    </div>



    <div class="container mt-12">
    <h2 class="text-sm font-bold font-['Permanent_Marker'] ">Recent Blogs</h2>
    <ul class="flex flex-col gap-2 pt-5">

      @foreach (var blog in @Model.Blogs)
      {
      <li class="w-full md:w-2/3">
        <a href="/post/@blog.Slug" hx-get="/post/@blog.Slug" hx-target="#response-content" hx-trigger="click"  hx-push-url="/post/@blog.Slug"
          hx-swap="innerHTML transition:true" class="flex justify-between items-center hover:underline">
          <span>@blog.Title</span>
          <span class=" text-[#DB6B43] text-sm">@blog.Date</span>
        </a>
      </li>
      }
    </ul>
    </div>
    <div class="pt-3 ">
    <a href="/blog" hx-get="/blog" hx-target="#response-content" hx-trigger="click" hx-push-url="/blog" 
    hx-swap="innerHTML transition:true" class="font-normal text-small text-[#075056] hover:underline">View all posts</a>
    </div>

      <div class="container mt-12">
      <h2 class="text-sm font-bold font-['Permanent_Marker'] mb-6 ">Featured Projects</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

        @foreach(var project in @Model.Projects )
        {
        <!-- Project Card 1 -->
        <div class="rounded-lg overflow-hidden shadow-md border border-gray-300">
          <img src="/swytchserver/static/project.svg" alt="Project 1" class="w-full h-30 object-cover">
          <div class="p-2">
            <h3 class="text-normal font-semibold mb-2 text-[#233038]">@project.Name</h3>
            <p class="text-gray-600 mb-2">@project.Description</p>
            <a href="@project.Url" class="text-[#075056] hover:underline">@project.Name</a>
          </div>
        </div>
        }
      </div>
  </div>

</div>

